<main class="{{styles.personalInfoEdit__wrapper}}">
    <div class="{{styles.personalInfoEdit__card}}">
        <div class="{{styles.personalInfoEdit__avatarBlock}}">
            {{{photo}}}
            {{{avatar}}}
        </div>
        <form>
            <div class="{{styles.personalInfoEdit__info}}">
                {{{email}}}
                {{{login}}}
                {{{firstName}}}
                {{{secondName}}}
                {{{chatName}}}
                {{{phone}}}
            </div>
            <div class="{{styles.personalInfoEdit__actions}}">
                {{{saveButton}}}
            </div>
        </form>
        <p class="{{styles.personalInfoEdit__title}}">Изменить пароль</p>
        <form>
            <div class="{{styles.personalInfoEdit__info}}">
                {{{oldPassword}}}
                {{{newPassword}}}
            </div>
            <div class="{{styles.personalInfoEdit__actions}}">
                {{{savePasswordButton}}}
            </div>
        </form>
            <div class="{{styles.personalInfoEdit__actions}}">
                {{{backButton}}}
            </div>
    </div>
</main>


