<div class="personalInfoEdit__card">
    <form>
        <div class="personalInfoEdit__avatarBlock">
            {{{photo}}}
            {{{avatar}}}
        </div>
        <div class="personalInfoEdit__info">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{chatName}}}
            {{{phone}}}
            {{{oldPassword}}}
            {{{newPassword}}}
        </div>
        <div class="personalInfoEdit__actions">
            {{{saveButton}}}
            {{{backButton}}}
        </div>
    </form>
</div>



