<main class="{{styles.authorization__wrapper}}">
    <form>
        <div class="{{styles.authorization__card}}">
            <div class="{{styles.authorization__inputs}}">
                {{{login}}}
                {{{password}}}
            </div>
            <div class="{{styles.authorization__buttons}}">
                {{{button}}}
                {{{registration}}}
            </div>
        </div>
    </form>
</main>






