<main class="{{styles.registration__wrapper}}">
    <form>
        <div class="{{styles.registration__card}}">
            <div class="{{styles.registration__title}}">Регистрация</div>
            <div class="{{styles.registration__inputs}}">
                {{{email}}}
                {{{login}}}
                {{{firstName}}}
                {{{secondName}}}
                {{{phone}}}
                {{{password}}}
            </div>
            <div class="{{styles.registration__buttons}}">
                {{{submitButton}}}
                {{{loginButton}}}
            </div>
        </div>
    </form>
</main>






