<form>
    <div class="registration__card">
        <div class="registration__title">Регистрация</div>
        <div class="registration__inputs">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{phone}}}
            {{{password}}}
        </div>
        <div class="registration__buttons">
            {{{submitButton}}}
            {{{loginButton}}}
        </div>
    </div>
</form>







