<div class="{{styles.wrapper}}">
    <div class="{{styles.info}}">
        <span>Login: {{login}}</span>
        <span>Name:  {{first_name}} {{second_name}}</span>
    </div>
    <div class="{{styles.action}}">{{{actionButton}}}</div>
</div>
