<div class="{{styles.fileInput}}">
    <label for="file-upload" class="{{styles.fileInput__label}}">{{text}}</label>
    <input required="{{required}}" id="file-upload" class="{{styles.fileInput__input}}" type="file" name="{{name}}">
    {{#if error}}
        <div class="{{styles.fileInput__error}}">{{error}}</div>
    {{/if}}
</div>
