<div class="{{styles.simpleInput__wrapper}}">
    <input required="{{required}}" name="{{name}}" type="{{type}}" value="{{value}}" class="{{styles.simpleInput__item}}" placeholder=" "/>
    <label class="{{styles.simpleInput__label}}" >{{label}}</label>
    {{#if error}}
        <div class="{{styles.simpleInput__error}}">{{error}}</div>
    {{/if}}
</div>

