<div class="{{styles.chatsHeader}}">
    <div class="{{styles.chatsHeader__profile}}">
        {{{newChatButton}}}
        {{{lkButton}}}
    </div>
    <div class="{{styles.chatsHeader__newChat}}" style="display: {{toggler}}">
        {{{newChatTitle}}}
        {{{addNewChatButton}}}
    </div>
</div>
