<div class="{{styles.chatHeader}}">
    <div class="{{styles.actions}}">
        <div class="{{styles.chatHeader__logo}}">{{{logoButton}}}</div>
        <div>{{title}}</div>
        {{{addUsersButton}}}
        {{{deleteChatButton}}}
    </div>
</div>
