<main class="personalInfo__wrapper">
    <div class="personalInfo__card">
        <div class="personalInfo__avatarBlock">
            {{{avatar}}}
        </div>
        <div class="personalInfo__info">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{chatName}}}
            {{{phone}}}
        </div>
        <div class="personalInfo__actions">
            <span class="personalInfo__actions--blue">{{{editButton}}}</span>
            <span class="personalInfo__actions--red">{{{exitButton}}}</span>
        </div>
    </div>
</main>





