<main class="{{styles.personalInfo__wrapper}}">
    <div class="{{styles.personalInfo__card}}">
        <div class="{{styles.personalInfo__avatarBlock}}">
            {{{avatar}}}
        </div>
        <div class="{{styles.personalInfo__info}}">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{secondName}}}
            {{{chatName}}}
            {{{phone}}}
        </div>
        <div class="{{styles.personalInfo__actions}}">
            <span class="{{styles.personalInfo__actions--blue}}">{{{editButton}}}</span>
            <span class="{{styles.personalInfo__actions}}">{{{backButton}}}</span>
            <span class="{{styles.personalInfo__actions--red}}">{{{exitButton}}}</span>
        </div>
    </div>
</main>





