<div class="{{styles.sendMessage__messageContainer}}">
    <input type="text"  required="{{required}}" value="{{value}}" placeholder="{{placeholder}}" name="message" class="{{styles.sendMessage__messageInput}}"/>
    {{#if error}}
        <div class="{{styles.sendMessage__error}}">{{error}}</div>
    {{/if}}
</div>



