<main class="{{styles.main__wrapper}}">
    <div class="{{styles.main__chats}}">
       {{{chatsHeader}}}
        {{{chats}}}
    </div>
    <div class="
        {{#if chatId}}
            {{styles.main__chatFeed}}
            {{#if isUserSearchVisible}}
                {{styles.main__chatFeed--withSearch}}
            {{/if}}
        {{else}}
            {{styles.hidden}}
        {{/if}}"
    >
        {{{mainHeader}}}
        {{{userSearchBlock}}}
        <div class="{{styles.main__messages}}">
            {{{messages}}}
        </div>
        <form novalidate>
            <div class="{{styles.main__sendBlock}}">
                <div class="{{styles.main__attached}}"></div>
                {{{messageInput}}}
                {{{messageButton}}}
            </div>
        </form>
    </div>
</main>
