<main class="main__wrapper">
    <div class="main__contacts">
        <div class="main__profile">
            {{{lkButton}}}
        </div>
        {{{contacts}}}
    </div>
    <div class="main__chatFeed">
        <div class="main__chatHeader">
            <div class="main__headerLogo"></div>
            <div>Имя</div>
            <img alt="" src="./assets/svg/rubbish.svg"/>
        </div>
        <div class="main__messages">
            {{{messages}}}
        </div>
        <form novalidate>
            <div class="main__sendBlock">
                <div class="main__attached"></div>
                {{{messageInput}}}
                {{{messageButton}}}
            </div>
        </form>
    </div>
</main>
