<main class="{{styles.main__wrapper}}">
    <div class="{{styles.main__chats}}">
       {{{chatsHeader}}}
        {{{chats}}}
    </div>
    <div class="{{styles.main__chatFeed}}">
        {{{mainHeader}}}
        <div class="{{styles.main__messages}}">
            {{{messages}}}
        </div>
        <form novalidate>
            <div class="{{styles.main__sendBlock}}">
                <div class="{{styles.main__attached}}"></div>
                {{{messageInput}}}
                {{{messageButton}}}
            </div>
        </form>
    </div>
</main>
